<nav class="navbar navbar-default navbar-fixed-top normal" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
      <a class="navbar-brand" href="/">
        <img title="Cơ khí Minh Sơn" alt="Minh Sơn" src="../IMAGES/logo.png">
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class=""><a routerLink="/" routerLinkActive="active"><i class="fa fa-home fa-lg"></i>&nbsp;Trang chủ</a></li>
        <li class="active"><a routerLink="/products" routerLinkActive="active"><i class="fa fa-gears fa-lg"></i>&nbsp;Sản phẩm</a></li>
        <!--<li class=""><a href="/NguoiDung/VeChungToi"><i class="fa fa-users fa-lg"></i>&nbsp;Về chúng tôi</a></li>
          <li class=""><a href="/"><i class="fa fa-user-plus fa-lg"></i>&nbsp;Tuyển dụng</a></li>-->
      </ul>
      <form action="/NguoiDung/SanPham" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#zoneUpdateAjax"
        id="form0" method="post">
        <div class="navbar-form navbar-right normal" id="formSearch" role="search">
          <div class="row">
            <div class="col-lg-12">
              <div class="input-group">
                <input type="text" class="form-control" id="tbTimKiem" style="z-index: 999; display: inline;" name="tensp" placeholder="Tên máy">
                <span class="input-group-btn">
                                                <button class="btn btn-default" type="button">
                                               Tìm
                                                </button>
                                            </span>
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
          </div>
          <!-- /.row -->
        </div>
      </form>
    </div>
  </div>
</nav>
<!-- HEADER -->
<!--<a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/products" routerLinkActive="active">Sản phẩm</a>-->
<router-outlet></router-outlet>
