<!--<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Tên sản Phẩm</th>
      <th>Mô Tả</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let product of listProducts">
      <td>{{product.ID}}</td>
      <td>{{product.TEN}}</td>
      <td>{{product.MOTA}}</td>
    </tr>
  </tbody>
</table>

-->


<div class="container body-content">
  <div class="page-header header-mathang">
    <h1>
      Sản phẩm
    </h1>
  </div>
  <div class="form-group">
    <label>Loại sản phẩm: </label> &nbsp;
    <select class="selectpicker" id="dropListLoaiSP" name="Loai"><option selected="selected" value="0">Tất cả</option>
<option value="1">Mẫu khu&#244;n</option>
<option value="2">Mẫu m&#225;y</option>
</select>
  </div>
  <div id="zoneUpdateAjax">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of listProducts">
        <div class="thumbnail">
          <div class="row">
            <div class="col-md-12">
              <p class="text-center" style="font-size: large;">
                <a href="#">{{product.TEN}}</a>
              </p>
            </div>
            <div class="col-md-12 margin-bottom-10px">
              <img class="img-round center-block product-image" data-original="#" alt="Không có hình" src="/IMAGES/{{product.IMG_URL}}"
                style="display: block; border-radius: 0;">
            </div>
            <div class="col-md-12 margin-bottom-10px">
              <div class="col-md-4">
                <i class="fa fa-arrows-h" aria-hidden="true"></i><span class="padding-left-8px">300mm</span>
              </div>
              <div class="col-md-4">
                <i class="fa fa-arrows-v" aria-hidden="true"></i><span class="padding-left-8px">200mm</span>
              </div>
              <div class="col-md-4">
                <i class="fa fa-balance-scale" aria-hidden="true"></i><span class="padding-left-8px">2kg</span>
              </div>
            </div>
            <hr />
            <div class="col-md-12 margin-bottom-10px">
              <div class="col-md-4">
                <i class="fa fa-calendar" aria-hidden="true"></i><span class="padding-left-8px">{{product.NGAYNHAP | date:"dd-MM-yy"}}</span>
              </div>
              <div class="col-md-4">
                <i class="fa fa-diamond"></i><span class="padding-left-8px">Inox</span>
              </div>
              <div class="col-md-4">
                <i class="fa fa-money"></i><span class="padding-left-8px">5.000.000</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" style="margin-top: -21px; border: 1px; border-style: groove; left: 15px;">
            <ul class="list-inline" style="font-size: 24px;margin-top: 5px;height: 29px;">
              <li>
                <a href="http://www.facebook.com/sharer.php?u=http://ckminhson.com/NguoiDung/SanPham/1" target="_blank"><i class="fa fa-facebook"></i></a>
              </li>
              <li><a href="mailto:minhson1company@gmail.com"><i class="fa fa-envelope"></i></a></li>
              <li><a href="#"><i class="fa fa-link"></i></a></li>
            </ul>
          </div>
          <div class="col-md-8">
            <a href="/NguoiDung/Detail_SanPham/1" id="1" class="btn btn-primary btn-lg btn-block radius-button-detail" style="margin-top: -21px">Xem</a>
          </div>
        </div>
        <br />
        <br />
      </div>
    </div>
    <div class="pagedList">
      <div class="pagination-container">
        <ul class="pagination">
          <li class="active"><a>1</a></li>
          <li><a href="/NguoiDung/SanPham/2">2</a></li>
          <li class="PagedList-skipToNext"><a href="/NguoiDung/SanPham/2" rel="next">Sau</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
